---
---

@import "{{ site.theme }}";

/* Étendre le contenu sur toute la page */
body {
    width: 100%;
    max-width: 100% !important;
    margin: 0;
    padding: 10px;
    background-color: #d7d7d7;
    overflow-x: hidden;
}

/* Étendre le contenu de la div principale */

.container{
  max-width: 100%;
    width: 100%;
  margin: 0 auto;         /* Centre le container */
  padding: 10 10;        /* Ajoute un peu d’espace à gauche/droite */
}

.wrapper{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;         /* Centre le container */
  padding: 20px 20px;        /* Ajoute un peu d’espace à gauche/droite */
}
.inner{
  max-width: 100%;
  /*width: 100%;*/
  margin: 0 auto;         /* Centre le container */
  padding: 20px 20px;        /* Ajoute un peu d’espace à gauche/droite */
}

.main{
  max-width: 75%;
  /*  width: 100%;*/
  margin: 30 auto;         /* Centre le container */
  padding: 50px 50px;        /* Ajoute un peu d’espace à gauche/droite */
}

/* Ajuster la largeur de la barre de navigation (si nécessaire) */
nav {
    width: 100%;  /* Prendre toute la largeur */
    padding: 30px;
    color: #2a4728;
}

@media screen and (max-width: 768px) {
  .header {
    text-align: center;
    padding: 20px 20px;
    font-size: 1.5rem;
  }
}

/*@media (max-width: 768px) {
  .site-main {
    width: 95%;
    padding: 20px;
  }

  .site-nav {
    flex-wrap: wrap;
    gap: 10px;
  }
}*/

hr {
    color: #2a4728;
}
h1 {
    color: #262626;
}
h2 {
    color: #585858;
}
h3 {
    color: #5dc449;
}

/*h4{
    color: #2a4728;
}*/
/* Déplacer le texte du titre à gauche */
.site-title {
    text-align: left;
}

.site-nav {
  display: flex;
  gap: 20px;
  padding-left: 20px;
    color: #2a4728;
}

